* {
  margin: 0;
  padding: 0;
  color: ${TEXTCOLOR};

  font-family: 'ABC Ginto Nord Condensed Unlicensed Trial', sans-serif;
}

html {
  height: 100vh;
  width: 100vw;
  display: flex;
  place-items: center;
}

body {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  height: 22px;
  width: 256px;
  gap: 5px;
  margin: auto;
}

#trans {
  background: #0000;
}

#img {
  background: url('${BACKGRONDURL}');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
}

#lvl_text {
  font-weight: 500;
}

#max_xp_text {
  font-weight: 500;
}

progress {
  flex: 1;
  height: 10px;
  border-radius: 10px;
  box-shadow: 0px 3px 4px ${SHADOWCOLOR};
}

progress::-webkit-progress-bar {
  background: ${SECONDARYCOLOR};
  backdrop-filter: blur(${FROST}px);
  border-radius: 10px;
}

progress::-webkit-progress-value {
  background: ${PRIMARYCOLOR};
  border-radius: 10px;
}

img {
  height: 22px;
  width: 22px;
  border-radius: 100%; 
  box-shadow: 0px 3px 4px ${SHADOWCOLOR};
}

span {
  font-size: 10px;
}

p {
  text-shadow: 0px 3px 3px ${SHADOWCOLOR};
}
